SECRET_KEY=change-this-secret-key
COMPOSE_PROJECT_NAME=sandol_team
KAKAO_TOKEN_ENCRYPTION_KEY=change-this-encryption-key

KC_DB_USERNAME=keycloak
KC_DB_PASSWORD=change-this-db-password

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=change-this-admin-password
